body{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
/*----- Header -----*/
header{
    background-color: black;
    font-size: 1.2rem;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
/*----- Main -----*/
#main-container {
    margin-top: 50px;
}
/*----- Caroussel -----*/
#carousel-container {
    background-color: black;
}

#carouselHome{
    width: 100%;
    background-color: black;
}

.carousel-inner {
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

/*----- article -----*/
article{
    min-height: 500px;
}