/*---------------------*/
/*----- body html -----*/
/*---------------------*/
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    min-height: 100vh;
}
/*---------------------------*/
/*----- START FONT-SIZE -----*/
/*---------------------------*/
/*----- Title font-size -----*/
/*main title*/
h1, h2{
    font-size: 2.2rem; /*35.2px*/
}
h2{
    font-size: 2.2rem; /*35.2px*/
}
h3{
    font-size: 1.5rem; /*24px*/
}
h4{
    font-size: 1.1rem; /*17.6px*/
}
/*Home : container-aikido*/
#container-aikido h2{
    font-size: 1.3rem;
}
/*Home : aside title*/
#container-lastNews h2{
    font-size: 1.5rem;
}
#container-lastNews h3{
    font-size: 1.2rem;
}
/*Home : courses h2*/
#container-courses h3{
    font-size: 1.5rem;
    /* min-height: 57px; */
}
/*Home: p*/
#container-lastNews p{
    font-size: 0.9rem;
}
/*Footer: p*/
footer p{
    font-size: 0.9rem;
}
/*----- courses -----*/
#container-courses li{
    font-size: 1.2rem;
}
/*----- register -----*/
#register-infos i{
    font-size: 1.5rem;
}
/*----- END FONT-SIZE ----*/

/*----------------------------------*/
/*----- START STYLE BY SECTION -----*/
/*----------------------------------*/
/*----- Header -----*/
header{
    background-color: black;
    font-size: 1.2rem;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
header nav {
    height: 50px;
}

/*----- main-container -----*/
#main-container {
    margin-top: 50px;
}
/*----- Caroussel -----*/
#carousel-container {
    background-color: black;
}
#carouselHome{
    width: 100%;
    background-color: black;
}
.carousel-inner {
    width: 100%;
}
.carousel-item img {
    width: 100%;
    height: auto;
}
/*----- Article -----*/
/*----- card Teachers -----*/
#container-teachers .card-text{
    min-height: 45px;
}
/*----- footer -----*/
footer{
    background-color: black;
}
footer h4{
    font-weight: bold;
}
footer a {
    color: #6c757d;
    text-decoration: none!important;
    transition: color 400ms ease-in-out;
    margin-right: 0.5rem;
}
footer a:hover{
    color: #f8f9fa;
}
footer a i{
    font-size: 2rem;;
}
.follow-me i{
    font-size: 50px;
}
.underline-dojo{
    width: 140px;
    border-bottom: 1px solid white;
    margin: 7px 0;
}
.underline-follow{
    width: 110px;
    border-bottom: 1px solid white;
    margin: 7px 0;
}
/*----- END STYLE BY SECTION -----*/
/*--------------------------------*/