body{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
/*----- Header -----*/
header{
    background-color: black;
    font-size: 1.2rem;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
header nav {
    height: 50px;
}
/*----- Main -----*/
#main-container {
    margin-top: 50px;
}
/*----- Caroussel -----*/
#carousel-container {
    background-color: black;
}

#carouselHome{
    width: 100%;
    background-color: black;
}

.carousel-inner {
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

/*----- article -----*/
article{
    min-height: 500px;
}

/*----- card Teachers -----*/
#container-teachers .card-text{
    min-height: 45px;
}

/*----- courses -----*/
#container-courses li{
    font-size: 1.2rem;
}

/*----- register -----*/
#register-infos i{
    font-size: 1.5rem;
}

/*----- footer -----*/
footer{
    background-color: black;
}
footer h5{
    font-size: 1rem;
    font-weight: bold;
}
footer p{
    font-size: 0.9rem;
}

.follow-me i{
    font-size: 50px;
}

.underline-dojo{
    width: 140px;
    border-bottom: 1px solid white;
    margin: 7px 0;
}

.underline-follow{
    width: 110px;
    border-bottom: 1px solid white;
    margin: 7px 0;
}